.lp {
    table {
        td {
            a {
                @include aSetting_nocolor;
            }

            &.date {
                text-align: center;
                color: #666;

                @include screen('mobile') {
                    text-align: left;
                }
            }

            &.num {
                text-align: center;
                color: #666;

                @include screen('mobile') {
                    text-align: left;
                }
            }
        }
    }

    .list {

        &>ul,
        ol {
            list-style-type: none;
            padding: 0;
            border-top: 2px solid $primaryColor;

            &>li {
                padding: 1em 0;
                border-bottom: 1px solid #DDD;
                position: relative; // outline: 1px solid blue;

                .tag {
                    margin-left: 2em;
                }

                &>a {
                    display: block;
                    padding-left: 2em;
                    position: relative;
                    line-height: 1.45em;
                    color: $color-word;

                    &:hover {
                        color: $aHover;
                    }

                    .num {
                        width: 1.5em;
                        text-align: right;
                        position: absolute;
                        top: 0;
                        left: 0;

                        &:after {
                            content: ".";
                            display: inline-block;
                        }
                    }
                }

                span.dept {
                    display: inline-block;
                    font-size: .938em;

                    @include screen("mobile") {
                        display: block;
                    }
                }

                time {
                    display: block;
                    color: #666;
                    font-size: .938em;
                }
            }
        }

        &.form_download {
            >ul {
                border-top: none;
                box-sizing: border-box;
            }

            li {
                display: flex;
                align-items: center;
                justify-content: left;
                border: 1px solid #eee;
                background: #fefefe;
                padding: 0 .5em;
                margin-bottom: 5px;
                @include screen("mobile"){
                    flex-wrap: wrap;
                    padding: 0;
                }
                >div{
                    padding: .5em;
                    box-sizing:border-box;
                    display:inline-block;
                    vertical-align:middle;
                    @include screen("mobile"){
                        border-bottom: 1px solid #eee;
                        padding:.8em .5em;
                        &:last-child{
                            border:none;
                        }
                    }
                    a{
                        color:$color-word;
                        transition: all .3s;
                    }
                }

                .project {
                    flex: 0 1 50%;
                    min-width: 350px;
                    @include screen("mobile"){
                        flex-basis: 100%;
                        min-width:100%;
                    }
                    a{
                        &:hover{
                            color:$primaryColor;
                        }
                    }
                }

                .instruction {
                    flex: 0 0 10%;
                    width:10%;
                    min-width: 130px;
                    background: transparent;
                    @include screen("mobile"){
                        flex-basis: 100%;
                        width:100%;
                    }
                    a{
                        color:lighten($color-word, 15);
                        &:hover{
                            color:$primaryColor;
                        }
                    }
                }

                .file_download {
                    flex: 0 1 25%;
                    width:25%;
                    max-width:230px;
                    margin:0;
                    @include screen("mobile"){
                        flex-basis: 100%;
                        width:100%;
                        max-width:100%;
                    }
                    a{
                        display:inline-block;

                        &:hover{
                            transform:translateY(-3px);
                        }
                    }

                    img {
                        width: 25px;
                        height: auto;
                    }
                }

                .apply {
                    flex: 1 0 25%;
                    width:25%;
                    min-width: 280px;
                    @include screen("mobile"){
                        flex-basis: 100%;
                        width:100%;
                        padding: .5em;
                    }
                    >a{
                        border-radius: 30px;
                        color:#fff;
                        padding: .5em 1em;
                        margin: .25em .1em;
                        display:inline-block;
                        background: lighten($secondaryColor, 5);
                        border-color:lighten($secondaryColor, 5);
                        &:hover{
                            background: darken($secondaryColor, 10);
                            border-color: darken($secondaryColor, 15);
                            color: #fff;
                        }
                        &:focus{
                            box-shadow: 0 0px 0px 2px $primaryColor inset;
                        }
                    }
                    .certificate{
                        background: $linkColor1;
                        border-color: $linkColor1;

                        &:hover{
                            background: darken($linkColor1, 10);
                            border-color: darken($linkColor1, 15);
                        }
                    }
                    .non-certificate{
                        background: $linkColor2;
                        border-color: $linkColor2;
                        &:hover{
                            background: darken($linkColor2, 10);
                            border-color: darken($linkColor2, 15);
                        }
                    }
                }
            }
        }
    }

}
.progress_query{
    display:inline-block;
    background: lighten($secondaryColor, 10);
    border-radius: 30px;
    color:#fff;
    padding: 0.5em 1.5em;
    &:hover{
        background: $secondaryColor;
        color:#fff;
    }
}

.album {
    margin: 1em auto;

    ul {
        @include li-reset;

        li {
            @include make_col(3, 1);
            overflow: visible;

            .thumbnail {
                width: 100%;
                max-width: 90%;
                margin: 0 auto 1em;
            }
        }
    }
}