.qp{
	margin: 1em auto;
	@include box-sizing;
	padding:1em;
  @include screen('mobile'){
    padding: 0;
  }
  >.instruction{
  	margin: 0 .5em 2em;
  }
}

.instruction{
	margin:1em 0;
	padding:1em;
	background: $color-bg;
	font-size: 1em;
	color:lighten($color-word, 15);
}